USE [WebsiteBanHang]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[madonhang] [int] IDENTITY(1,1) NOT NULL,
	[makhachhang] [int] NOT NULL,
	[dienthoai] [nchar](15) NULL,
	[diachi] [nvarchar](500) NULL,
	[ngaydat] [date] NOT NULL,
	[ngaynhan] [date] NOT NULL,
	[thanhtoan] [nvarchar](150) NOT NULL,
	[soluongmua] [int] NULL,
	[tongtien] [decimal](18, 0) NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[madonhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[machitietdonhang] [int] NOT NULL,
	[madonhang] [int] NOT NULL,
	[masp] [int] NOT NULL,
	[soluong] [int] NULL,
	[gia] [decimal](18, 0) NULL,
	[tongtien] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[magiohang] [int] IDENTITY(1,1) NOT NULL,
	[masp] [int] NOT NULL,
	[makhachhang] [int] NOT NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[magiohang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSP](
	[mahang] [int] IDENTITY(1,1) NOT NULL,
	[tenhang] [nvarchar](50) NOT NULL,
	[trangthai] [bit] NOT NULL,
 CONSTRAINT [PK_HangSP] PRIMARY KEY CLUSTERED 
(
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[makhachhang] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](500) NULL,
	[dienthoai] [nchar](15) NULL,
	[email] [varchar](100) NULL,
	[matkhau] [nchar](10) NULL,
	[trangthai] [bit] NULL,
	[chucvu] [bit] NULL,
	[tinh] [nvarchar](500) NULL,
	[huyen] [nvarchar](500) NULL,
	[xa] [nvarchar](500) NULL,
	[thon] [nvarchar](500) NULL,
	[ngaydangky] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[masp] [int] IDENTITY(1,1) NOT NULL,
	[mahang] [int] NOT NULL,
	[tensp] [nvarchar](500) NOT NULL,
	[hinhanh] [nvarchar](500) NULL,
	[soluong] [int] NULL,
	[giaban] [decimal](18, 0) NULL,
	[mota] [nvarchar](4000) NULL,
	[CPU] [nvarchar](500) NULL,
	[RAM] [nvarchar](500) NULL,
	[OS] [nvarchar](50) NULL,
	[manhinh] [nvarchar](500) NULL,
	[carddohoa] [nvarchar](200) NULL,
	[SSD] [nchar](50) NULL,
	[trangthai] [bit] NULL,
	[model] [nvarchar](200) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[matintuc] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](500) NULL,
	[hinhanh] [nvarchar](50) NULL,
	[ngaytao] [date] NULL,
	[gioithieu] [nvarchar](500) NULL,
	[trangthai] [bit] NULL,
	[makhachhang] [int] NULL,
	[noidung] [text] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[matintuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([madonhang], [makhachhang], [dienthoai], [diachi], [ngaydat], [ngaynhan], [thanhtoan], [soluongmua], [tongtien], [trangthai]) VALUES (46, 36, N'0328729598     ', N'55A Điện Biên Phủ, Phường 25, Quận Bình Thành,Hồ Chí Minh', CAST(N'2024-05-14' AS Date), CAST(N'2024-05-17' AS Date), N'Thanh toán khi nhận hàng', NULL, CAST(29900000 AS Decimal(18, 0)), 1)
INSERT [dbo].[DonHang] ([madonhang], [makhachhang], [dienthoai], [diachi], [ngaydat], [ngaynhan], [thanhtoan], [soluongmua], [tongtien], [trangthai]) VALUES (47, 35, N'0986176237     ', N'55A Điện Biên Phủ, Phường 25, Quận Bình Thành,Hồ Chí Minh', CAST(N'2024-05-14' AS Date), CAST(N'2024-05-17' AS Date), N'Thanh toán khi nhận hàng', NULL, CAST(52800000 AS Decimal(18, 0)), 0)
INSERT [dbo].[DonHang] ([madonhang], [makhachhang], [dienthoai], [diachi], [ngaydat], [ngaynhan], [thanhtoan], [soluongmua], [tongtien], [trangthai]) VALUES (48, 35, N'0986176237     ', N'55A Điện Biên Phủ, Phường 25, Quận Bình Thành,Hồ Chí Minh', CAST(N'2024-05-15' AS Date), CAST(N'2024-05-18' AS Date), N'Thanh toán khi nhận hàng', NULL, CAST(47890000 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
INSERT [dbo].[DonHangChiTiet] ([machitietdonhang], [madonhang], [masp], [soluong], [gia], [tongtien]) VALUES (0, 46, 58, 1, CAST(29900000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[DonHangChiTiet] ([machitietdonhang], [madonhang], [masp], [soluong], [gia], [tongtien]) VALUES (0, 47, 30, 1, CAST(28900000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[DonHangChiTiet] ([machitietdonhang], [madonhang], [masp], [soluong], [gia], [tongtien]) VALUES (0, 48, 61, 1, CAST(17990000 AS Decimal(18, 0)), NULL)
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([magiohang], [masp], [makhachhang], [soluong]) VALUES (174, 20, 35, 1)
INSERT [dbo].[GioHang] ([magiohang], [masp], [makhachhang], [soluong]) VALUES (175, 24, 35, 1)
INSERT [dbo].[GioHang] ([magiohang], [masp], [makhachhang], [soluong]) VALUES (176, 22, 35, 1)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangSP] ON 

INSERT [dbo].[HangSP] ([mahang], [tenhang], [trangthai]) VALUES (2, N'Dell', 1)
INSERT [dbo].[HangSP] ([mahang], [tenhang], [trangthai]) VALUES (3, N'Lenovo', 1)
INSERT [dbo].[HangSP] ([mahang], [tenhang], [trangthai]) VALUES (4, N'Acer', 1)
SET IDENTITY_INSERT [dbo].[HangSP] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([makhachhang], [hoten], [diachi], [dienthoai], [email], [matkhau], [trangthai], [chucvu], [tinh], [huyen], [xa], [thon], [ngaydangky]) VALUES (6, N'Nguyễn  Thành Trung', N'TP Hồ Chí Minh', N'0989275330     ', N'admin@gmail.com', N'12345678  ', 0, 1, N'TP Hồ Chí Minh', N'Bình Thạnh', N'P25', N'0', CAST(N'2024-04-10' AS Date))
INSERT [dbo].[KhachHang] ([makhachhang], [hoten], [diachi], [dienthoai], [email], [matkhau], [trangthai], [chucvu], [tinh], [huyen], [xa], [thon], [ngaydangky]) VALUES (34, N'Nguyễn Văn A', N'TP Hồ Chí Minh', N'0987654322     ', N'vana@gmail.com', N'123456    ', NULL, NULL, N'TP Hồ Chí Minh', N'Bình Thạnh', N'Văn Lợi', N'0', CAST(N'2024-05-14' AS Date))
INSERT [dbo].[KhachHang] ([makhachhang], [hoten], [diachi], [dienthoai], [email], [matkhau], [trangthai], [chucvu], [tinh], [huyen], [xa], [thon], [ngaydangky]) VALUES (35, N'Võ Hưng', N'TP Hồ Chí Minh', N'0987654323     ', N'vhung@gmail.com', N'tung2002  ', NULL, NULL, N'TP Hồ Chí Minh', N'Bình Thạnh', N'Thanh Khai', N'0', CAST(N'2024-05-14' AS Date))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([matintuc], [tieude], [hinhanh], [ngaytao], [gioithieu], [trangthai], [makhachhang], [noidung]) VALUES (12, N'gdfgdfssss', N'lg3.jpg', CAST(N'0001-01-01' AS Date), N'dfgsssfgh', 1, 6, N'sdfgsd')
INSERT [dbo].[TinTuc] ([matintuc], [tieude], [hinhanh], [ngaytao], [gioithieu], [trangthai], [makhachhang], [noidung]) VALUES (13, N'Laptop gaming', N'hp3.jpg', CAST(N'0001-01-01' AS Date), N'dsfsd', 1, 6, N'sdfsdf')
INSERT [dbo].[TinTuc] ([matintuc], [tieude], [hinhanh], [ngaytao], [gioithieu], [trangthai], [makhachhang], [noidung]) VALUES (14, N'fgh', N'asus3.jpg', CAST(N'0001-01-01' AS Date), N'dgf', 1, 6, N'nguyên duy dsadfasdf')
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_ngaydat]  DEFAULT (getdate()) FOR [ngaydat]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_trangthai]  DEFAULT ((0)) FOR [trangthai]
GO
ALTER TABLE [dbo].[HangSP] ADD  CONSTRAINT [DF_HangSP_trangthai]  DEFAULT ((1)) FOR [trangthai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_trangthai]  DEFAULT ((1)) FOR [trangthai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_chucvu]  DEFAULT ((1)) FOR [chucvu]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_ngaydangky]  DEFAULT (getdate()) FOR [ngaydangky]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_trangthai]  DEFAULT ((1)) FOR [trangthai]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[KhachHang] ([makhachhang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonHangChiTiet_DonHang] FOREIGN KEY([madonhang])
REFERENCES [dbo].[DonHang] ([madonhang])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DonHangChiTiet_DonHang]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DonHangChiTiet_SanPham] FOREIGN KEY([masp])
REFERENCES [dbo].[SanPham] ([masp])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DonHangChiTiet_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[KhachHang] ([makhachhang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([masp])
REFERENCES [dbo].[SanPham] ([masp])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSP] FOREIGN KEY([mahang])
REFERENCES [dbo].[HangSP] ([mahang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSP]
GO
